---
title: Immutables.org
layout: default
---

<header class="jumbotron">
  <div class="container">
    <h1>Immutables <span class="text-muted">v1.0.1</span></h1>
    {% capture story0 %}{% include story0.md %}{% endcapture %}{{ story0 | markdownify }}
    <a href="/getstarted.html" class="btn btn-primary btn-lg">Get started!</a>
    <a href="/immutable.html" class="btn btn-default btn-lg">Read guide...</a>
    <a href="https://twitter.com/ImmutablesOrg" class="pull-right">
      <i class="fa fa-twitter"></i> News and announcements</a>
  </div>
</header>

<div class="text-center container">
  <strong>Features:</strong>
  <span class="badge alert-success">Classes, Interfaces and Annotations</span>
  <span class="badge alert-success">Builders</span>
  <span class="badge alert-success">Constuctor methods</span>
  <span class="badge alert-success">With-er copy methods</span>
  <span class="badge alert-success">Default attributes</span>
  <span class="badge alert-success">Derived attributes</span>
  <span class="badge alert-success">Lazy attributes</span>
  <span class="badge alert-success">Optional attributes</span>
  <span class="badge alert-success">Array, List, Set and Map attributes</span>
  <span class="badge alert-success">Singleton values</span>
  <span class="badge alert-success">Instance interning</span>
  <span class="badge alert-success">Hash-code precomputing</span>
  <span class="badge alert-success">JSON marshaling</span>
  <span class="badge alert-success">Jackson integration</span>
  <span class="badge alert-success">JAX-RS integration</span>
  <span class="badge alert-success">MongoDB integration</span>
  <span class="badge alert-success">JDBI integration</span>
  <span class="badge alert-info">and even more...</span>
  <br>
  <br>
</div>

<section class="illustration sample0 clearfix">
  <div class="container clearfix">
    {% capture storySample0 %}{% include storySample0.md %}{% endcapture %}
    {{ storySample0 | markdownify }}
  </div>
</section>

<section class="jumbotron">
  <div class="container">
    {% capture story1 %}{% include story1.md %}{% endcapture %}{{ story1 | markdownify }}
    <a href="/json.html" class="btn btn-default btn-lg">Read guide...</a>
  </div>
</section>

<section class="illustration">
  <div class="container clearfix">
    {% capture storySample1 %}{% include storySample1.md %}{% endcapture %}
    {{ storySample1 | markdownify }}
  </div>
</section>

<section class="jumbotron">
  <div class="container">
    {% capture story2 %}{% include story2.md %}{% endcapture %}{{ story2 | markdownify }}
    <a href="/mongo.html" class="btn btn-default btn-lg">Read guide...</a>
  </div>
</section>

<section class="illustration sample2 clearfix">
  <div class="container clearfix">
    {% capture storySample2 %}{% include storySample2.md %}{% endcapture %}
    {{ storySample2 | markdownify }}
  </div>
</section>

<section class="jumbotron">
  <div class="container">
  </div>
</section>

<footer class="jumbotron">
  <div class="container">
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
  </div>
  
<!--  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ImmutablesOrg" data-widget-id="423956242294267904">Tweets by @ImmutablesOrg</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  -->
  
</footer>

<a href="https://github.com/immutables/immutables">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="//s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
       alt="Fork me on GitHub">
</a>
