
<a class="github-button" href="https://github.com/immutables/immutables" data-icon="octicon-star" data-style="mega" data-count-href="/immutables/immutables/stargazers" data-count-api="/repos/immutables/immutables#stargazers_count">Star</a>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<br>
<iframe src="https://ghbtns.com/github-btn.html?user=immutables&repo=immutables&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

<iframe src="https://ghbtns.com/github-btn.html?user=immutables&repo=immutables&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>