---
import FooterIndex from './FooterIndex.md'
import FooterKeywords from './FooterKeywords.md'
import FooterMisc from './FooterMisc.md'

---

<footer>
  <div class="Vapor"></div>
  <div class="Content">
    <div class="Keywords">
      <FooterKeywords/>
    </div>
    <FooterIndex/>
    <div class="misc">
      <FooterMisc/>
    </div>
  </div>
</footer>
