.highlight pre {
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
  border-radius: inherit;
  text-align: left;
  color: #dddddd;
  line-height: 1.3em;
}

.highlight .kn,
.highlight .kd,
.highlight .kt,
.highlight .kc,
.highlight .k {
  color: #b376b1;
}

.highlight .nt,
.highlight .nd {
  color: #22a4d7;
}

.highlight .c,
.highlight .c1,
.highlight .c2,
.highlight .cm {
  color: #5f696f;
}

.highlight .n,
.highlight .nc {
  color: white;
}

.highlight .o {
  color: #999;
}

.highlight .nf {
  /*color: white;*/
  /*color: #A2CBFF;*/
  color: #C1AEE8;
}

.highlight .na {
  color: #CBDFF9;
}

.highlight .s,
.highlight .s2 {
  /*color: #5A9EFA;*/
  color: #64e8e8;
  /*color: #2FCDFF;*/
}

.highlight .mi {
  color: #029494;
}

.highlight,
.highlight pre {
  background-color: transparent;
}

.illustration .highlight,
.highlight pre code {
  font-size: 14px;
  font-family: "Anonymous Pro", "Inconsolata", "Liberation Mono", "Consolas", monospace;
}
