header.jumbotron {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f8f9 43%, #d7dee3 83%, #f5f7f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(43%, #f6f8f9), color-stop(83%, #d7dee3), color-stop(100%, #f5f7f9));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f8f9 43%, #d7dee3 83%, #f5f7f9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f8f9 43%, #d7dee3 83%, #f5f7f9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f8f9 43%, #d7dee3 83%, #f5f7f9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f8f9 43%, #d7dee3 83%, #f5f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f7f9', GradientType=0);
}

.jumbotron {
  margin-bottom: 0;
  font-size: 20px;
}

header.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;
}

header.jumbotron a.pull-right {
  line-height: 48px;
}

.jumbotron a {
  font-weight: 200;
}

.jumbotron li {
  font-weight: 200;
}

section.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.toc-h2, .toc-h3 {
  font-size: 12pt;
  list-style: none;
}

.toc-h2 a, .toc-h3 a {
  color: inherit;
}

.toc-h3 {
  margin-left: 1.5em;
  font-size: 10pt;
}

h2, h3 {
  margin-top: 30px;
}

aside {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e2e9ed;
}
aside > ul {
  margin: 0;
}

.illustration,
.documentation .highlight {
  margin: auto;
/*  background-color: #384145;*/
  background-color: #3D4447;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #888;
}

.illustration .highlight {
  float: left;
  width: 450px;
  padding: 0.5em;
}

html, footer.jumbotron {
  background-color: #9fbac7;
}

body, header, section {
  background-color: #F5F7F9;
}

body {
  font-size: 18px;
}
body.page {
  font-size: 16px;
}

footer.jumbotron {
  margin-top: 20px;
  margin-bottom: 0;
  color: #3d4e58;
  padding-top: 0px;
  padding-bottom: 100px;
  font-size: 18px;
}

footer.jumbotron a {
  color: #3d4e58;
  text-decoration: underline;
}

footer.jumbotron ul {
  list-style: none;
}

footer.jumbotron li {
  line-height: 1.2em;
}

header {
  overflow: hidden;
}

section.promo {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.promo p {
  /* to hide paragraphs from markdown around section.feature */
  display: none;
  float: left;
}

section.promo section.feature p {
  display: block;
  font-size: 15px;
}

section.feature {
  margin-right: 1.5em;
  float: left;
}

section.feature span.label {
  float: right;
  font-weight: normal;
  font-size: 14px;
  margin-top: .6em;
  margin-right: .6em;
  cursor: help;
}

section.documentation > span {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 0 !important;
}

aside > ul,
section.documentation > *,
section.documentation > .highlight > pre {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

section.documentation > ul li {
  margin-left: 30px;
}

section.documentation > .highlight {
  max-width: inherit;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .jumbotron p {
    font-size: 16px;  
  }
}

@media (min-width: 768px) {
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 750px;
  }
  section.feature {
    width: 330px;
    min-height: 180px;
  }
}

@media (min-width: 992px) {
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 970px;
  }
  section.feature {
    width: 280px;
    min-height: 180px;
  }
}

@media (min-width: 1200px) {
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 1170px;
  }
  section.feature {
    width: 255px;
    min-height: 210px;
  }
}

code {
  color: #444;
  background-color: #e5ecf1;
  font-family: "Inconsolata", "Liberation Mono", "Consolas", monospace;
}
