@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

header.jumbotron {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #F7F6F9 43%, #E4E1EC 83%, #F7F5F9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(43%, #F7F6F9), color-stop(83%, #E4E1EC), color-stop(100%, #F7F5F9));
  background: -webkit-linear-gradient(top, #ffffff 0%, #F7F6F9 43%, #E4E1EC 83%, #F7F5F9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #F7F6F9 43%, #E4E1EC 83%, #F7F5F9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #F7F6F9 43%, #E4E1EC 83%, #F7F5F9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #F7F6F9 43%, #E4E1EC 83%, #F7F5F9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F7F5F9', GradientType=0);
}

.jumbotron {
  margin-bottom: 0;
  font-size: 20px;
}

header.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;
}

header.jumbotron a.pull-right {
  line-height: 48px;
}

.jumbotron h1 {
  cursor: default;
}

.jumbotron a {
  font-weight: 200;
}

.jumbotron li {
  font-weight: 200;
}

h1 a.github-button {
  visibility: hidden;
}
h1 iframe {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}

a {
  color: #068DC2;
}

body .btn {
  margin-right: .5em;
}

.label-info,
body .btn-primary,
body .btn-primary.active {
  background-color: #068DC2;
  border-color: #068DC2;
  box-sizing: border-box;
}
body a.btn.btn-default,
body a.btn.btn-default:hover {
  border-color: #068DC2;
  box-sizing: border-box;
  color: #068DC2;
  background-color: rgba(255, 255, 255, .4);
}
body .btn-primary:hover {
  border-color: inherit;
}
section.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.jumbotron h1 .text-muted {
  font-size: 16pt;
}

.toc-h2, .toc-h3, .toc-h4 {
  font-size: 10pt;
  list-style: none;
}

.toc-h2 a, .toc-h3 a, .toc-h4 a {
  color: inherit;
}

.toc-h3 {
  margin-left: 1.5em;
}

.toc-h4 {
  margin-left: 4em;
}

h2, h3 {
  margin-top: 30px;
}

aside {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E4E1EC;
}
aside > ul {
  margin: 0;
}

.illustration,
.documentation .highlight {
  margin: auto;
  background-color: #2B303B;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border-top: 1px solid #444;
  border-bottom: 1px solid #888;*/
}

.illustration .highlight {
  float: left;
  width: 450px;
  padding: 0.5em;
}

html, footer.jumbotron {
  background-color: #87B6D0;
}

body, header, section {
  background-color: #F7F5F9;
}

body {
  font-size: 18px;
}
body.page {
  font-size: 16px;
}

footer.jumbotron {
  margin-top: 20px;
  margin-bottom: 0;
  color: #3d4e58;
  padding-top: 0px;
  padding-bottom: 100px;
  font-size: 18px;
}

footer.jumbotron a {
  color: #3d4e58;
  text-decoration: underline;
}

footer.jumbotron ul {
  list-style: none;
}

footer.jumbotron li {
  line-height: 1.2em;
}

header {
  overflow: hidden;
}

section.promo {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.promo p {
  /* to hide paragraphs from markdown around section.feature */
  display: none;
  float: left;
}

section.promo section.feature p {
  display: block;
  font-size: 15px;
}

section.feature {
  margin-right: 1.5em;
  float: left;
}

section.feature span.label {
  float: right;
  font-weight: normal;
  font-size: 14px;
  margin-top: .6em;
  margin-right: .6em;
  cursor: help;
}

section.documentation > span {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 0 !important;
}

aside > ul,
section.documentation > *,
section.documentation > .highlight > pre {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

section.documentation > ul li {
  margin-left: 30px;
}

section.documentation > .highlight {
  max-width: inherit;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .jumbotron p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 40pt;
  }
  .jumbotron h1 iframe {
    margin-bottom: 9px;
  }
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 750px;
  }
  section.feature {
    width: 330px;
    min-height: 180px;
  }
}

@media (min-width: 992px) {
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 970px;
  }
  section.feature {
    width: 280px;
    min-height: 180px;
  }
}

@media (min-width: 1200px) {
  aside > ul,
  section.documentation > *,
  section.documentation > .highlight > pre {
    max-width: 1170px;
  }
  section.feature {
    width: 255px;
    min-height: 210px;
  }
}

code {
  color: #444;
  background-color: #E4E1EC;
  font-family: "Anonymous Pro", "Inconsolata", "Liberation Mono", "Consolas", monospace;
}

#forkongithub a {background:#87B6D0;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:10pt;line-height:2rem;position:relative;transition:0.5s;}
#forkongithub a:hover {background:#8bd;color:#fff;}
#forkongithub a::after {bottom:1px;top:auto;}
@media screen and (min-width:768px){
  #forkongithub {position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}
  #forkongithub a {width:200px;position:absolute;top:40px;right:-50px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:1px 1px 1px rgba(0,0,0,0.3);}
}
