<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="/gfx/bootstrap.min.css">
  <link rel="stylesheet" href="/gfx/main.css">
  <link rel="stylesheet" href="/gfx/code.css">
  <title>{{ page.title }}</title>
</head>
<body class="page">
{% include tagmanager.html %}
<header>
  <div class="container">
    <a href="/">Immutables</a> &larr;

    <h1>{{ page.title }} {% include githubbtns.html %}</h1>
  </div>
</header>
<aside id="toc"></aside>
<section class="documentation">
  {{ content }}
</section>
<footer class="jumbotron">
  <div class="container">
    {% capture footer %}{% include footer.md %}{% endcapture %}{{ footer | markdownify }}
    <!--<div><h2>Posts</h2>
      <ul>
        {% for post in site.posts limit: 10 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a>
          (<a href="{{ post.url }}#disqus_thread">Comments</a>)
        </li>
        {% endfor %}
      </ul>
    </div>-->
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script defer src="/gfx/jquery.toc.min.js"></script>
<script>
$(function() {
  $('#toc').toc({
    container: '.documentation',
    selectors: 'h1,h2,h3,h4',
    anchorName: function(i, heading, prefix) {
      heading = $(heading).text();
      if (heading.trim) heading = heading.trim();
      return heading.toLowerCase().replace(/ /g, '-').replace(/[^a-z^\-]+/g, '');
    },
  })
})
</script>
</body>
</html>
