---
import '../styles/global.css'

import Head from '../components/Head.astro'
import Footer from '../components/Footer.astro'
import GoogleTags from '../components/GoogleTags.astro'
import ThemeScript from '../components/ThemeScript.astro'
import TocScript from '../components/TocScript.astro'

const { frontmatter } = Astro.props
const title = frontmatter?.title || 'Immutables'
const jquery = '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
---

<!doctype html>
<html lang="en" class="theme-dark">
<Head title={title} />
<body class="Guide">
<script src={jquery}></script>
<GoogleTags/>
<TocScript/>
<div class="Sky"></div>
<div class="Cloud"></div>
<div class="Rain"></div>
<div class="Fog"></div>
<div class="around-content">
  <div class="Content Toc">
    <a class="Return" href="/" title="Return">⇤</a>
    <h1>{title}</h1>
    <div class="Doc">
      <slot/>
    </div>
  </div>
</div>
<Footer />
<ThemeScript />
</body>
</html>
